.app-heading {
    text-align: center;
}

#chat_messages {
    height: 65vh;
    overflow-y: auto;
    padding-left: 0;
    border-radius: 1%;
}

.chat-message {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 30%;
}

.user-info-container {
    padding: 1%;
    margin-right: 1%;
    width: 15%;
    text-align: center;
}

.message-content {
    padding: 1%;
    margin-left: 1%;
    width: 85%;
    overflow-y: auto;
    word-break: break-word;
}

#new_chat_message {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
}

#new_message_text {
    width: 70%;
    padding: 1%;
    height: 50%;
    margin: 0 1%;
}

.new-message-submit {
    padding: 2%;
    cursor: pointer;
    margin: 0 1%;
    width: 10%;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    .app-heading {
        color: black;
    }

    #chat_messages {
        border: 1px solid black;
    }

    #new_chat_message {
        color: black;
        border: 1px solid black;
    }

    .chat-message {
        color: black;
        border: 1px solid black;
    }

    .user-info-container {
        border-right: 1px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #272323;
    }

    .app-heading {
        color: white;
    }

    #chat_messages {
        border: 1px solid gray;
    }

    #new_chat_message {
        color: white;
    }

    .chat-message {
        color: white;
        border-bottom: 1px solid grey;
    }

    .user-info-container {
        border-right: 1px solid grey;
    }

    #new_chat_message {
        border: 1px solid grey;
    }
}